<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="..//static/style.css" />
    <title>Summary</title>
</head>
<body>
    <div class="container">
        <img src="..//static/logo.png" alt="" class="logo">
        {% if message %}
        <h3>Video URL : {{ message }}</h3>
        {% endif %}
        
        <br/>
        <h1>Summary : </h1>
        <p>Long Summary</p>
        <p>Short Summary</p>
    </div>
</body>
</html>